
.working-space {
  background: rgb(1, 44, 55);

  width: 100dvw;
  height: 100dvh;

  max-width: 768px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}