
.slide {
  box-shadow: inset
    0 -.36vh 1.4vh .32vh
  ;

  min-width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  scroll-snap-align: center;
}


.slide.right {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-right: 4%;
}


.slide.center {
  padding: 4%;
}
