
.card-conts {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 6%;
}


.card-conts.logo {
  height: 48%;

  flex-direction: column;
}


.card-conts.services {
  height: 16%;
}


.card-conts.options {
  height: 16%;
}


.card-conts.galerie {
  height: 20%;
}




.card-conts p {
  border: .11vh solid rgb(
    78, 78, 78
    )
  ;
  border-radius: 8%;

  background-color: rgba(
    215, 235, 255, 0.85
    )
  ;

  font-weight: bold;
}


.bystrova {
  background: radial-gradient(
    circle,
    white,
    rgba(139, 69, 19, 0.8)
    )
  ;

  box-shadow: inset
    0 0 .4vh .2vh,
    0	0	.4vh .2vh
  ;

  font-size: 2.6em;

  padding: 3% 3% 1% 3%;
}


.neh-spec {
  background: radial-gradient(
    circle,
    white,
    rgba(139, 69, 19, 0.8)
    )
  ;
  
  box-shadow: inset
    0 0 .4vh .2vh,
    0	0	.4vh .2vh
  ;

  font-size: 1.4em;

  padding: 2% 2% 1% 2%;
}


.serv-opt {
  font-size: 1.14em;
  padding: 1% 2% 1% 2%;
}

.gallery {
  font-size: 1.6em;
  padding: 1% 3% 1% 3%;
}


.arrows {
  background: radial-gradient(
    circle,
    white,
    rgba(255, 0, 0, 0.8)
    )
  ;

  box-shadow: inset
    0 0 .4vh .2vh,
    .2vh	0	.4vh .2vh
  ;

  font-size: 1.4em;

  padding: 1% 3% 1% 3%;
}
