
.contact-card {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5%;
}


.contact-card.phone {
  height: 25%;
}
.contact-card.e-mail {
  height: 25%;
}
.contact-card.hours {
  height: 25%;
}
.contact-card.where {
  height: 24%;
}


.contact-card p {
  border: .11vh solid rgb(
    78, 78, 78
    )
  ;
  border-radius: 8%;

  background-color: rgba(
    215, 235, 255, 0.85
    )
  ;

  font-weight: bold;
}


.kde-jsem {
  font-size: 1.48em;
  padding: 1% 2% 1% 2%;
}


.arrows {
  background: radial-gradient(
    circle,
    white,
    rgba(255, 0, 0, 0.8)
    )
  ;

  box-shadow: inset
    0 0 .4vh .2vh,
    .2vh	0	.4vh .2vh
  ;

  font-size: 1.36em;

  padding: 1% 3% 1% 3%;
}