
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  background: black;

  width: 100dvw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* @font-face {
  font-family: 'Rubik Lines';
  src: url('../../fonts/RubikLines-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
