
#scroll {
  flex-direction: column;
  justify-content: space-between;
}


#scroll p {
  border: .11vh solid rgb(
    78, 78, 78
    )
  ;
  border-radius: 8%;

  background: radial-gradient(
    circle, 
    white, 
    rgba(250, 240, 220, 0.9)
    )
  ;

  box-shadow: inset
    0 0 .4vh .2vh,
    0	0	.4vh .2vh
  ;

  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 0.74em;
}


#scroll p#vstup {
  background: radial-gradient(
    circle, 
    white, 
    rgba(215, 235, 255, 0.85)
    )
  ;
}


.slide.center img {
  border: .22vh solid rgb(
    200, 200, 200
    )
  ;
  border-radius: 8%;
  
  box-shadow:
    0 0 .8vh .4vh
  ;

  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slide.center img.fullscreen {
  background-color: rgba(
    0, 0, 0, 0.9
    )
  ;
  border: none;
  border-radius: 0;
  box-shadow: none;

  width: 100dvw;
  height: 100dvh;
  object-fit: contain;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  transition: all 1s ease;
}


#scroll img {
  height: 76%;
}


#scroll img.fullscreen {
  height: 100dvh;
}


@media (min-width: 360px) {
  #scroll p {
    font-size: .88em;
  }
}